html
  head
    title EPL Match & Player Tracker 17/18
    link(href="/css/styles.css" rel="stylesheet")
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="../js/scripts.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    nav.navbar.navbar-light.bg-primary.navbar-fixed-top(style="background-color:orange")
      div.container
        ul.nav.navbar-nav
          li 
            a(style="font-size:16px;") EPL Match & Player Tracker 17/18 (v1.0)
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Matches
              span.caret
            ul.dropdown-menu
               div.row(style="width:300px;padding:10px;")
                 ul.list-unstyled.col-md-6
                   each week in weeksOne
                    li
                      a(href=week) Week #{ week}
                 ul.list-unstyled.col-md-6
                   each week in weeksTwo
                    li
                      a(href=week) Week #{ week}
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Players by Club
              span.caret
            ul.dropdown-menu
              li
               ul.list-unstyled.col-md-12  
                   li
                     a(href="/players/Arsenal") Arsenal
                   li
                     a(href='/players/Bournemouth') Bournemouth
                   li
                     a(href='/players/Brighton') Brighton
                   li
                     a(href='/players/Burnley') Burnley
                   li
                     a(href='/players/Chelsea') Chelsea
                   li
                     a(href='/players/Crystal-palace') Crystal Palace
                   li
                     a(href="/players/Everton") Everton
                   li
                     a(href="/players/Leicester") Leicester
                   li
                     a(href="/players/Liverpool") Liverpool
                   li
                     a(href="/players/Manchester-United") Man Utd
                   li
                     a(href="/players/Manchester-City") Man City
                   li
                     a(href="/players/Newcastle") Newcastle Utd
                   li
                     a(href="/players/Stoke-City") Stoke City
          li.dropdown
            a.dropdown-toggle(href='#' data-toggle='dropdown') Players by Country
              span.caret
            ul.dropdown-menu
              li
               div.row(style="width:300px;padding:10px;")
                ul.list-unstyled.col-md-6
                  each country in countriesOne
                    li
                      a(href="/players/"+country) #{ country}
                ul.list-unstyled.col-md-6
                  each country in countriesTwo
                    li
                      a(href="/players/"+country) #{ country }
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Stats
              span.caret
            ul.dropdown-menu
              li
                a(href="#") Top Scorers
              li
                a(href="#") Games Played
              li
                a(href="#") Cleansheets
        ul.nav.navbar-nav.navbar-right
          li
            a(data-toggle="modal", data-target="#addMatch") Add Match

    div.container.starter-template
     div.modal.fade#addMatch(style="width:50%;margin:0 auto;")
       div.modal-dialog
        div.modal-content
         div.modal-header
            h2.modal-title(style="display:inline") Add Match
            button.close(type="button", data-dismiss="modal", aria-label="Close", style="display:inline")
              span(aria-hidden="true") &times;
         div.modal-body
            form(action='/add', method='post' style="margin:0 auto;")
               p
               label(for='hometeam', style="margin-left:10px;") Home: 
               |  
               select(name='hometeam', style="margin-left:10px;")
                 option(value="Arsenal") Arsenal
                 option(value='Bournemouth') Bournemouth
                 option(value='Brighton') Brighton
                 option(value='Burnley') Burnley
                 option(value='Chelsea') Chelsea
                 option(value='Crystal-palace') Crystal Palace
                 option(value="Everton") Everton
                 option(value='Liverpool') Liverpool
               p
               label(for="awayteam", style="margin-left:10px;") Away:  
               |
               select(name='awayteam', style="margin-left:10px;")
                 option(value="Arsenal") Arsenal
                 option(value='Bournemouth') Bournemouth
                 option(value='Brighton') Brighton
                 option(value='Burnley') Burnley
                 option(value='Chelsea') Chelsea
                 option(value='Crystal-palace') Crystal Palace
                 option(value="Everton") Everton
                 option(value='Liverpool') Liverpool
               p
               label(for='matchweek', style="margin-left:10px;") Matchweek:  
               |
               input(name='matchweek' type='number', max='38', min='1', style="margin-left:10px;")
         div.modal-footer   
               button.btn.btn-primary.large(type='submit') Add

     div.row.displayPlayersTable
       p(style="text-align:center;margin-bottom:10px;")
         a(href='/matches/'+previousweek) << Prev 
         span(style="font-size:16px;") ||     
         a(href='/matches/'+nextweek) Next >>
       table.footballPlayers(width='70%',align='center', style="text-align:center")
                th WK
                each match in FootballMatches
                    tr#match(style="border-top:1px solid orange", height='50px;')
                        td #{match.matchweek}
                        td(style='font-size:16px;') #{ match.hometeam }
                        if match.homegls  < 0
                          td V
                        else
                          td(style='font-size:16px;background:yellow') #{ match.homegls }
                          td(style='background:yellow') - 
                          td(style='font-size:16px;background:yellow') #{ match.awaygls }
                        td(style='font-size:16px;') #{ match.awayteam }
                        if match.done == 'N'
                          td
                            a.btn.btn-primary(href='/match/'+match.matchweek+'/g/h/'+match._id) Home Goal
                            a.btn.btn-primary(href='/match/'+match.matchweek+'/g/a/'+match._id) Away Goal
                            a.btn.btn-danger(href='/match/'+match.matchweek+'/ft/'+match._id) Full time
                        else
                          td(style='font-size:20px;color:red;') FT
                else
                    p No matches found
