html
  head
    title Player - #{thePlayer.name}
    link(href="/css/styles.css" rel="stylesheet")
    link(href="/css/bootstrap.min.css" rel="stylesheet")  
  body
    nav.navbar.navbar-light.bg-primary.navbar-fixed-top(style="background-color:#f6f6f6")
      div.container
        ul.nav.navbar-nav
          li 
            a(href='/') Home
    div.container.starter-template
      div.row
        div.col.md-12
            h1 #{ thePlayer.name }
            h5 #{ thePlayer.country } and #{ thePlayer.team }
            a.btn.btn-danger(href='/delete/'+thePlayer._id, style="display:block;width:100px;") Delete
      
      div.row(style="margin-top:20px;")
        div.col-md-4
          div.holder
            table(style="width:100%")
              th(colspan="3") Stats
              tr
                td Games Played
                td(style="text-align:center") #{ thePlayer.gamesplayed }
                td(style="text-align:right")
                  a.btn.btn-primary.glyphicon.glyphicon-plus(href='/gp/'+thePlayer._id+'/a')
                  if thePlayer.goals == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/gp/'+thePlayer._id+'/s', disabled="true")
                  else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/gp/'+thePlayer._id+'/s')
              tr
                td Goals
                td(style="text-align:center") #{ thePlayer.outsidebox + thePlayer.insidebox}
                td(style="text-align:right")
                  a.btn.btn-primary.glyphicon.glyphicon-plus(href='/goal/'+thePlayer._id+'/a')
                  if thePlayer.goals == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/goal/'+thePlayer._id+'/s', disabled="true")
                  else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/goal/'+thePlayer._id+'/s')
              tr
                td Clean Sheets
                td(style="text-align:center") #{ thePlayer.cleansheets}
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/cs/'+thePlayer._id+'/a')
                 if thePlayer.cleansheets == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s')
	
        div.col-md-4
         div.holder
             h4 Goal Times:
             table(style="width:100%")
              tr
               th
               th %
               th
              tr
                td 0'-15'
                td(style="text-align:center") #{ thePlayer.00_15 }
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/cs/'+thePlayer._id+'/a/00_15')
                 if thePlayer.zero_fifteen == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/00_15', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/00_15')
              tr
                td 16'-30'
                td(style="text-align:center") #{ thePlayer.16_30 }
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/cs/'+thePlayer._id+'/a/16_30')
                 if thePlayer.cleansheets == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/16_30', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/16_30')
              tr
                td 31'-45+'
                td(style="text-align:center") #{ thePlayer.31_45 }
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/goal/'+thePlayer._id+'/a/31_45')
                 if thePlayer.cleansheets == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/goal/'+thePlayer._id+'/s/31_45', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='goal/'+thePlayer._id+'/s/31_45')
              tr
                td 46'-60'
                td(style="text-align:center") #{ thePlayer.46_60 }
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/goal/'+thePlayer._id+'/a/46_60')
                 if thePlayer.cleansheets == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/goal/'+thePlayer._id+'/s/46_60', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/goal/'+thePlayer._id+'/s/46_60')
              tr
                td 61'-75'
                td(style="text-align:center") #{ thePlayer.61_75 }
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/goal/'+thePlayer._id+'/a/61_75')
                 if thePlayer.cleansheets == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/61_75', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/61_75')
              tr
                td 76'-90+'
                td(style="text-align:center") #{ thePlayer.76_90 }
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/cs/'+thePlayer._id+'/a/76_90')
                 if thePlayer.cleansheets == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/76_90', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/76_90')
        div.col-md-4
         div.holder
             h4 Goal Breakdown:
             table(style="width:100%")
              tr
                td Headers:
                td(style="text-align:center") #{ thePlayer.headers }
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/cs/'+thePlayer._id+'/a/header')
                 if thePlayer.zero_fifteen == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/header', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/header')
              tr
                td Left Foot:
                td(style="text-align:center") #{ thePlayer.leftfoot }
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/cs/'+thePlayer._id+'/a/leftfoot')
                 if thePlayer.left-foot == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/leftfoot', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/cs/'+thePlayer._id+'/s/leftfoot')
              tr
                td Right Foot:
                td(style="text-align:center") #{ thePlayer.rightfoot }
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/goal/'+thePlayer._id+'/a/rightfoot')
                 if thePlayer.right-foot == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/goal/'+thePlayer._id+'/s/rightfoot', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='goal/'+thePlayer._id+'/s/rightfoot')
              tr
                td Pens:
                td(style="text-align:center") #{ thePlayer.pens }
                td(style="text-align:right")
                 a.btn.btn-primary.glyphicon.glyphicon-plus(href='/goal/'+thePlayer._id+'/a/pens')
                 if thePlayer.pens == 0
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/goal/'+thePlayer._id+'/s/pens', disabled="true")
                 else
                    a.btn.btn-primary.glyphicon.glyphicon-minus(href='/goal/'+thePlayer._id+'/s/pens')