html
  head
    title EPL Match & Player Tracker 17/18
    link(href="/css/styles.css" rel="stylesheet")
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/scripts.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    nav.navbar.navbar-light.bg-primary.navbar-fixed-top(style="background-color:orange")
      div.container
        ul.nav.navbar-nav
          li 
            a(style="font-size:16px;") EPL Match & Player Tracker 17/18 (v1.0)
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Matches
              span.caret
            ul.dropdown-menu
               div.row(style="width:300px;padding:10px;")
                 ul.list-unstyled.col-md-6
                   each week in weeksOne
                    li
                      a(href='../matches/'+week) Week #{ week}
                 ul.list-unstyled.col-md-6
                   each week in weeksTwo
                    li
                      a(href='../matches/'+week) Week #{ week}
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Players by Club
              span.caret
            ul.dropdown-menu
              li
               ul.list-unstyled.col-md-12  
                   li
                     a(href="/players/Arsenal") Arsenal
                   li
                     a(href='/players/Bournemouth') Bournemouth
                   li
                     a(href='/players/Brighton') Brighton
                   li
                     a(href='/players/Burnley') Burnley
                   li
                     a(href='/players/Chelsea') Chelsea
                   li
                     a(href='/players/Crystal-palace') Crystal Palace
                   li
                     a(href="/players/Everton") Everton
                   li
                     a(href="/players/Leicester") Leicester
                   li
                     a(href="/players/Liverpool") Liverpool
                   li
                     a(href="/players/Manchester-United") Man Utd
                   li
                     a(href="/players/Manchester-City") Man City
                   li
                     a(href="/players/Newcastle") Newcastle Utd
                   li
                     a(href="/players/Stoke-City") Stoke City
          li.dropdown
            a.dropdown-toggle(href='#' data-toggle='dropdown') Players by Country
              span.caret
            ul.dropdown-menu
              li
               div.row(style="width:300px;padding:10px;")
                ul.list-unstyled.col-md-6
                  each country in countriesOne
                    li
                      a(href="/players/"+country) #{ country}
                ul.list-unstyled.col-md-6
                  each country in countriesTwo
                    li
                      a(href="/players/"+country) #{ country }
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Stats
              span.caret
            ul.dropdown-menu
              li
                a(href="#") Top Scorers
              li
                a(href="#") Games Played
              li
                a(href="#") Cleansheets				   
        ul.nav.navbar-nav.navbar-right
          li
            a(data-toggle="modal", data-target="#addPlayer") Add Player
    div.container.starter-template
      if team
        div(style="text-align:center;margin-bottom:10px;")
          img(src="../img/"+team+".png", style="width:64px;height:64px;display:inline-block;")
      div.modal.fade#addPlayer(style="width:60%;margin:0 auto;")
       div.modal-dialog
        div.modal-content
         div.modal-header
            h2.modal-title(style="display:inline") Add Player
            button.close(type="button", data-dismiss="modal", aria-label="Close", style="display:inline")
              span(aria-hidden="true") &times;
         div.modal-body
            form(action='/add', method='post')
               p
               label(for='name') Name:
               |  
               input(type='text', placeholder='Name', name='name')
               p
               label Team:
               |
               select(name='team')
                   option(value='Arsenal') Arsenal
                   option(value='Manchester United') Manchester United
                   option(value='Manchester City') Manchester City
                   option(value='Tottenham') Tottenham
               p
               label Position:
               |  
               select(name='position')
                   option(value='GK') GK
                   option(value='DF') DF
                   option(value='MF') MF
                   option(value='ST') ST
               p
               label Country:
               |  
               select(name='county', size='1')
                   each country in countriesOne
                     option(value=country) #{ country }
                   each country in countriesTwo
                     option(value=country) #{ country }
         div.modal-footer   
               button.btn.btn-primary.large(type='submit') Add

      div.row.displayPlayersTable
        table.footballPlayers(width='50%' align="center", style="background:#f9f9f9")
                each players in footballPlayers
                    tr#player(style="border-bottom:1px solid orange;font-size:15px")
                        td #{ players.name }
                        td #{ players.position}
                        td #{ players.goals }
                        td(style="text-align:center")
                            a.btn.btn-primary(href='/player/'+players._id) View Details
                else
                    h1(style='text-align:center;') Oops.......No players are at this club :(
